html{
  background: #141414;
  height: 100%;
}

.indexpage-container{
  background: #141414;
  height: 100%;
}

.video-category-container{
  height: 400px;
  margin: 75px 0;
}

.video-category-title{
  color: #999;
}

.video-thumbnail{
  width: 290px;
  height: 400px;
  /*background: black;*/
  /*border: 1px solid black;*/
  position: relative;
}

.video-img{
  width: 290px;
  height: 400px;
  margin: auto;
}

.video-thumbnail:hover img{
  transition: all .1s ease-in-out;
  filter: brightness(.5);
}

.video-title{
  position: absolute;
  color: #fff;
  width: 100%;
  top: 35%;
  text-align: center;
  font-size: 15px;
  opacity: 0;
}

.video-playbutton{
  position: absolute;
  color: #fff;
  width: 100%;
  top: 45%;
  text-align: center;
  font-size: 15px;
  opacity: 0;
}

.video-thumbnail:hover div{
  transition: .1s ease-in;
  opacity: 1;
  z-index: 100;
}
